.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.login-page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  min-width: 500px;
}




// user page

.ant-table-body {
  max-height: 100% !important;
}